@{
    ViewData["Title"] = "About Us";
}


<div class="container">
   
    <!-----------------------------------------ABOUT US SECTION ----------------------------------->
    <div class="main-section about-us">
        <img src="~/assets/images/principal.jpg">
        <div>
            <h2 class="heading">About Our Chairman</h2>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <img src="~/assets/images/Signature.png">
        </div>
    </div>
 
</div>
