@{
    ViewData["Title"] = "Notice Board";
}


<div class="container">
    <div class="main-section">
     
        <!-----------------------------------------NOTICE BOARD SECTION ----------------------------------->
        <div class="col-md-12 p-4" style="background-color:#f0f3fa;">
            <h2 class="heading">Notice Boards</h2>
            <div>
                <marquee direction="up" scrollamount="7" style="height:400px;">
                    <ul>
                        <li><img src="~/assets/images/new.gif"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                        <li><img src="~/assets/images/new.gif"> Desktop publishing software like Aldus PageMaker including of Lorem Ipsum</li>
                        <li><img src="~/assets/images/new.gif"> Many desktop publishing packages and web page editors now use</li>
                        <li><img src="~/assets/images/new.gif"> Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</li>
                        <li><img src="~/assets/images/new.gif"> Welcome To The Best Private University in MP</li>
                        <li><img src="~/assets/images/new.gif"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                        <li><img src="~/assets/images/new.gif"> Desktop publishing software like Aldus PageMaker including versions of Ipsum</li>
                    </ul>
                </marquee>
            </div>
        </div>
    </div>
</div>
