@{
    ViewData["Title"] = "Tutorial";
}

<style>
    .btn-orange {
        background-color: #FF5722;
        border-color: #FF5722;
        color: #fff;
    }
</style>
<div class="container mt-5">
    <h1 class="mb-4 text-center">Tutorial Page</h1>

    <div class="row">
        <!-- Tutorial Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="https://img.freepik.com/free-vector/decision-making-abstract-concept_335657-3039.jpg?t=st=1744353234~exp=1744356834~hmac=6e01525fe73635fdaa433c9e23013c1911bfab5bc667737e84e9c4fcebb52f41&w=826" class="card-img-top" alt="Tutorial Image">
                <div class="card-body">
                    <h5 class="card-title">Getting Started</h5>
                    <p class="card-text">Learn the basics of how to get started with our platform in just a few steps.</p>
                    <a href="#" class="btn btn-orange">Read More</a>
                </div>
            </div>
        </div>

        <!-- Tutorial Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="https://img.freepik.com/free-vector/user-interface-development-isometric-concept-with-young-woman-creating-custom-design-mobile-application-vector-illustration_1284-72341.jpg?t=st=1744353150~exp=1744356750~hmac=0093d171ce6d7f4027c3d52055b9388261a6a5fa4dd518ce54760f5b7357d96b&w=826" class="card-img-top" alt="Tutorial Image">
                <div class="card-body">
                    <h5 class="card-title">Advanced Features</h5>
                    <p class="card-text">Explore the advanced tools and features to boost your productivity.</p>
                    <a href="#" class="btn btn-orange">Explore Now</a>
                </div>
            </div>
        </div>

        <!-- Tutorial Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="https://img.freepik.com/free-vector/flat-people-asking-questions-illustration_23-2148910850.jpg?t=st=1744353359~exp=1744356959~hmac=b82c7b24332d3cbe30b1e3d9f7fff5aa72f470effdb52dace57606cd381c933b&w=826" class="card-img-top" alt="Tutorial Image">
                <div class="card-body">
                    <h5 class="card-title">FAQs & Tips</h5>
                    <p class="card-text">Find answers to common questions and useful tips for better usage.</p>
                    <a href="#" class="btn btn-orange">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
