<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - School_website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/assets/images/logo.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container"> <img src="~/assets/Images/logo.png" class="logo"></div>
    <nav>
        <div class="container d-flex justify-content-between">
                <div>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Home" asp-action="About">About us</a>
                    <a asp-controller="Home" asp-action="Admission">Admission</a>
                    <a asp-controller="Home" asp-action="Gallery">Gallery</a>
                    <a asp-controller="Home" asp-action="NoticeBoard">Notice Board</a>
                    <a asp-controller="Home" asp-action="Events">News Events</a>
                    <a asp-controller="Home" asp-action="Tutorial">Tutorial</a>
                    <a asp-controller="Home" asp-action="ContactUs">Contact us</a>
                </div>
                <div>
           
				<partial name="_LoginPartial"/>
                </div>
            </div>
    </nav>

    <div class="container  align-items-center" style="height: 80vh;">
        @RenderBody()
    </div>

      
<div class="container">
        <div class="main-section">
            <h2 class="heading">Placement</h2>
            <marquee class="placement" direction="left" scrollamount="10">
                <img src="~/assets/images/company-1.jpg">
                <img src="~/assets/images/company-2.jpg">
                <img src="~/assets/images/company-3.jpg">
                <img src="~/assets/images/company-4.jpg">
                <img src="~/assets/images/company-5.jpg">
                <img src="~/assets/images/company-6.jpg">
                <img src="~/assets/images/company-7.jpg">
                <img src="~/assets/images/company-8.jpg">
                <img src="~/assets/images/company-9.jpg">
                <img src="~/assets/images/company-10.jpg">
                <img src="~/assets/images/company-11.jpg">
                <img src="~/assets/images/company-12.jpg">
            </marquee>
        </div>

</div>
    <div class="footer">
        <div class="container">
            <div class="footer-sect">
                <h2>Best Institute For Education</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
                <img src="~/assets/images/icon-fb.png">
                <img src="~/assets/images/icon-tw.png">
                <img src="~/assets/images/icon-in.png">
                <img src="~/assets/images/icon-li.png">
            </div>
            <div class="footer-sect">
                <h2>Quick Links</h2>
                <ul class="footer-menu">
                    <li><a href="#">  Home</a></li>
                    <li><a href="#">  About us</a></li>
                    <li><a href="#">  Tutorial</a></li>
                    <li><a href="#">  Event</a></li>
                    <li><a href="#">  Gallery</a></li>
                    <li><a href="#">  Press Release</a></li>
                    <li><a href="#">  Courses</a></li>
                    <li><a href="#">  Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-sect">
                <h2>Contact Info</h2>
                <ul class="footer-contact">
                    <li><b>Email :</b> reply@bestinstituteeducation.com </li>
                    <li><b>Call :</b> +91 -123 456 7890 </li>
                    <li><b>Fax :</b> +91 -123 4567890 </li>
                    <li><b>Website :</b> https://www.dezven.com </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
