@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<div>
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-controller="Account" asp-action="Logout" class="btn btn-light">Logout</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login" class="btn btn-light">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-light">Register</a>
    }
</div>
