@model School_website.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<style>
    .btn-custom {
        background-color: #ff5722;
        border-color: #ff5722;
    }

        .btn-custom:hover {
            background-color: #e64a19;
            border-color: #e64a19;
        }

    .login-box {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="login-box bg-white p-4 shadow rounded" style="width: 350px;">
        <h4 class="text-center fw-bold">Reset Password</h4>

        

      
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email address</label>
                <input asp-for="Email" class="form-control" placeholder="Enter email" required />
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">Email address</label>
                <input asp-for="NewPassword" class="form-control" placeholder="Enter email" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label">Email address</label>
                <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Enter email" required />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn w-100 text-white btn-custom" value="Submit">Reset Password</button>

            <a asp-asp-controller="Accont" asp-action="VerifyEmail" class="text-decoration-none mt-3">Back</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}

